<!DOCTYPE html>
<html>
<head>
    <title>Hotel Data Visualization</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Hotel Graph Visualization</h1>
    <form action="/graph" method="post">
        <label for="city">City:</label>
        <select name="city" id="city">
            <option value="">All Cities</option>
            {% for city in cities %}
            <option value="{{ city }}">{{ city }}</option>
            {% endfor %}
        </select>
        <label for="min_rating">Minimum Rating:</label>
        <input type="number" id="min_rating" name="min_rating" min="1" max="5">
        <label for="max_price">Maximum Price:</label>
        <input type="number" id="max_price" name="max_price">
        <input type="submit" value="Filter">
    </form>

    <div id="graph"></div>

    <script>
        var graph_json = {{ graph_json | safe }};
        Plotly.newPlot('graph', graph_json.data, graph_json.layout);
    </script>
</body>
</html>
